# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# Flask / Instance
# =========================
instance/
*.db
*.sqlite

# =========================
# Logs & Temp files
# =========================
*.log
*.tmp
*.swp
*.swo

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.iml

# =========================
# System files
# =========================
.DS_Store
Thumbs.db
