<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>🌐 Young IT Lab</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo-img">
      <h1><a href="/">Young IT Lab 🚀</a></h1>
    </div>
    <nav>
      <a href="/">Accueil</a>
      <a href="/monitor/dashboard">Monitoring</a>
      <a href="/blog">Blog</a>
      <a href="/about">À propos</a>
    </nav>
  </header>

  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul style="list-style:none;">
      {% for category, message in messages %}
        <li style="background:#ecf0f1;margin:10px;padding:10px;border-left:4px solid #3498db;">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>© 2025 Young IT Lab - VPS & Réseau</p>
  </footer>
</body>
</html>
